body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #74b1da;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(94, 89, 89, 0.1);
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.result {
    margin: 20px 0;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.feedback {
    font-size: 16px;
    color: #d9534f;
}

.guesses {
    margin-top: 10px;
    font-size: 14px;
    color: #6c757d;
}
